.u-section-1 .u-sheet-1 {
  min-height: 443px;
}

.u-section-1 .u-form-1 {
  height: 383px;
  width: 498px;
  margin: 30px auto;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}