.u-section-1 .u-sheet-1 {
  min-height: 334px;
}

.u-section-1 .u-form-1 {
  height: 124px;
  width: 570px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 60px 15px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}